html,
body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  background: #1a1a1a;
}

main {
  color: #fff;
  font-family: sans-serif;
  text-align: center;
}